*{
    text-decoration: none;
    list-style: none;
}
.logo{
    width: 100px;
    border-radius: 100%;
    border-style: solid;
    border-color: #D3C0CD;

}
header{
    width: 100%;
    background-color: #E3DFFF;
    border-radius: 5%;
    border-color: #D3C0CD;
    border-style: solid;  
}
body{
    background-color: #B19994;
    font-family: "Madimi1", sans-serif;
    height: 100%;
}
footer{
    text-align: center;
    background-color: #3D3A4B;
    font-size: 15px;
    border-style: none;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
.headerLinks a{
    transition: color 0.3s, transform 0.3s;
}
.headerLinks a:hover {
    color: #3D3A4B;
    transform: scale(1.1);
}
.headerLinks li{
    display: inline-block;
    text-align: center;
    margin: 0 15px;
}
nav{
    text-align: center;
}
@font-face{
    font-family: "Madimi1";
    src: url(../img/Madimi1.ttf)
}
h1{
    color: #0b0b61;
}
h2{
    color: #0b0b61;
}
h3{
    color: #080849;
}
.container{
    margin: 5px;
    max-width: 500px;
    width: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
.element{
    margin: 10px;
    background-color: #937666;
    border-radius: 5%;
}
a{
    color: #B19994;
}
.imgInicio{
    width: 400px;
    border-radius: 5%;
    border-style: solid;
    border-color: #937666;
}

.boton{
 background-color: #B19994;
 border-color: #3D3A4B;
 color: #3D3A4B;
 border-radius: 20%;
 border-style: none;
 margin: 2%;
}

@media (max-width: 600px) {
    body {
      font-size: 14px;
    }
}
.container1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.image-gallery {
    display: flex; 
    overflow-x: auto;
    padding: 20px;
    scroll-snap-type: x mandatory; 
}

.element {
    min-width: 300px; 
    margin-right: 10px; 
    background-color: #fff;
    border-radius: 5px; 
    padding: 10px;
    scroll-snap-align: start; 
}

.imgProductos {
    width: 100%;
    border-radius: 5%;
}

.boton {
    background-color: #B19994;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.cart-icon {
    font-size: 20px;
    color: #0b0b61;
    position: relative;
}